/**
 * Notes:
 *   mint green: #8ae, or rgb(136, 238, 170)
 *   mint blue : #8ea, or rgb(136, 170, 238)
 */

/* NORMALIZATION */
html { height: 100%; }
body { height: 100%; margin: 0;}
h1, h2, h3 { margin: 0; padding: 0; font-weight: normal; }
ul, li { margin: 0; padding: 0; display: inline-block; list-style: none; }

li {
  height: 100%;
}

li a {
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
}

li.current a {
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, 1);
}

.nav li.current, .nav li.current:hover {
  background-color: rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, .1);
}

.nav li:hover {
  background-color: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .1);
}


/* Styles for the header nav */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
  overflow: hidden;
  z-index:1;
  background-color: #fff;
}

.nav {
  height: 100%;
  text-align: center;
  font-family: 'Amiri', serif;
}

@media screen and (min-width: 700px) {
  .header { height: 60px; }
  .nav {
    font-size: 30px;
    line-height: 60px;
  }
  .nav a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .header { height: 30px; }
  .nav {
    font-size: 14px;
    line-height: 30px;
  }
  .nav a {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Content */
.content {
  width: 100%;
  position: absolute;
  overflow-y: scroll;        
  z-index: 0;
  text-align: center;

  /* Fixes non-momentum scrolling caused by overflow-y on iOS */
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 700px) {
  .content {
    top: 60px;
    height: calc(100% - 60px);
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .content {
    top: 30px;
    height: calc(100% - 30px);
  }
}

.note {
  font-family: 'Amiri', serif;
  font-style: normal;
  color: rgba(0, 0, 0, .4);
}

.slide {
  width: 100%;
  height: 100%;
}

.slide h1 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: rgba(255, 255, 255, .9);
}

.slide h2 {
  font-family: 'Amiri', serif;
  font-style: italic;
  font-weight: normal;
  color: rgba(0, 0, 0, .4);
}

.slide h3 {
  font-family: 'Amiri', serif;
  font-style: italic;
  font-weight: normal;
  color: rgba(0, 0, 0, .4);
}

.slide.green {
  background: #8ea;
}

.slide.blue {
  background: #8ae;
}

.slide.pink {
  background: #e8a;
}

.slide.purple {
  background: #a8e;
}

.slide.orange {
  background: #ea8;
}

@media screen and (min-width: 700px) {
  .slide h1 { font-size: 120px; }
  .slide h2 { font-size: 60px; }
  .slide h3 { font-size: 30px; }
  .note { font-size: 24px; }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .slide h1 { font-size: 60px; }
  .slide h2 { font-size: 30px; }
  .slide h3 { font-size: 20px; }
  .note { font-size: 12px; }
}

@media screen and (min-height: 700px) {
  .slide .wrapper { padding-top: 150px; }
  .slide.weekend-high-level .wrapper { padding-top: 100px; }
  .slide .top-link { height: 50px; }
  .slide .body { height: calc(100% - 100px); }
  .slide .bottom-link { height: 50px; }
}

@media (min-height: 300px) and (max-height: 700px) {
  .slide .wrapper { padding-top: 30px; }
  .slide .top-link { height: 30px; }
  .slide .body { height: calc(100% - 60px); }
  .slide .bottom-link { height: 30px; }
}


/* WIDEPIC */
.widepic {
  background: #fff;
}

.widepic img {
  width: 100%;
}

.link {
  cursor: pointer;
}

.slide.weekend-high-level hr {
  border: 0;
  width: 25%;
  border-bottom: 1px solid #666;
  background: #999;
}

a {
  font-style: normal;
  color: rgba(255, 255, 255, .7);
}

h3 a.zola-registry-embed {
  color: rgba(255, 255, 255, 0);
}

.no-presha {
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: 'Amiri', serif;
  color: rgba(0, 0, 0, .7);
  line-height: 20px;
}
